/* Estilos da página index.html*/

.p1{
    font-size: 21px;
    text-align: center;
}
p{
    font-size: 18px;
}
.center{
    text-align: center;
}

/* modelar imagem e texto*/

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
   
}

#menu li{
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color:mintcream;
    font-size: 20px;
}
#menu li a:hover{
    color:darksalmon;

}

.sizeCopy{
    color: mintcream;
    background-color: black;
}
.p-20{
    padding: 20px;
}

.br-50{
    border-radius: 50px;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 20px;
}

.tag-video{
    width: 560;
    height: 500;
    
}

/* Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}